/lab2/lab2/bin/Debug/net5.0
/lab2/lab2_/Machines
/lab2/lab2/obj
/lab2/lab2_/bin/Debug/net5.0
/lab2/lab2_/Properties
/lab2/lab2_
/lab3/venv/Lib/site-packages/_distutils_hack
/lab3/venv/Lib/site-packages
/lab3/venv/Scripts
/lab3/venv
/lab3/__pycache__
/lab3/.idea
